body {
   background-color: antiquewhite;
}

#many-pets {
   display: flex;
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
   justify-content: space-evenly;
   max-width: 1000px;
}

.pet {
   width: 30%;
   margin-top: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
   margin-right: 5px;
   max-width: 100%;
   border: 1px solid black;
   text-align: center;
   background-color: gainsboro;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.pet img {
   max-width: 75%;
   height: auto;

}

.type {
   align-items: center;
   margin-top: auto;
   width: 100%;
}

.dino {
background-color: blue;
}

.dog {
   background-color: burlywood;
}
.cat {
   background-color: violet;
}

#pet-buttons {
   text-align: center;
}

#All {
   background-color: lightslategray;
}
#cat {
   background-color: pink;
}
#dog {
   background-color: red;
}
#dino {
   background-color: greenyellow;
}