body {
    background-color: aquamarine;
 }
 
 #many-pets {
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-evenly;
    max-width: 1000px;
 }
 
 .pet {
    width: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: oldlace;
    display: flex;
    flex-direction: column;
    align-items: center;
 
 }
 .pet img {
    max-width: 75%;
    height: auto;
 
 }
 
 .type {
    /* background-color: aquamarine; */
    align-items: center;
    margin-top: auto;
    width: 100%;
 }
 
 .dino {
 background-color: lightskyblue;
 }
 
 .dog {
    background-color: blue;
 }
 .cat {
    background-color: yellow;
 }
 
 #pet-buttons {
    text-align: center;
 }
 
 #All {
    background-color: olive;
 }
 #cat {
    background-color: darkgray;
 }
 #dog {
    background-color: darkgoldenrod;
 }
 #dino {
    background-color: green;
 }
 
